<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
	<h1>Pagina de Inicio</h1>
	<a th:href="@{/persona/inicio}">Inicio</a> <br>
	<a th:href="@{/persona/contacto}">Contacto</a> <br>
	<a th:href="@{/persona/reporte}">Reporte</a> <br>
	
	<!--Formulario Crear-->
	<a th:href="@{/persona/formularioCrearPersona}">Formulario Persona</a><br>
	<a th:href="@{/empleado/crear}">Formulario Empleado</a>
	
	
	
	
	<br>
	<img th:src="@{/images/cibertec.jpg}" width="250px" height="250px">
	
</body>
</html>
